*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

@media screen and (min-width: 480px) {
    body {
        background-color: black;
        color: white;
    }
}

@media screen and (max-width: 244px) {
    body {
        background-color: blue;
        color: white;
    }
}
@media (min-width: 245px) and (max-width: 479px){
    body{
        background-color: brown;
        color: white;
    }
}